<section>
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h1>Add Products</h1>
                <form action="/admin/add-product" method="post" enctype="multipart/form-data">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control">

                    <label for="name">Category</label>
                    <input type="text" name="category" class="form-control">

                    <label for="name">Descreption</label>
                    <input type="text" name="descreption" class="form-control">

                    <label for="name">Price</label>
                    <input type="text" name="price" class="form-control">

                    <label for="name">Image</label>
                    <input type="file" name="image" class="form-control">

                    <button type="submit" class="btn btn-success m-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>