<div class="container">
    <div class="col-md-6">
        <h3 class="text-center mt-4">Admin Login</h3>
        <form action="/login" method="post" class="m-5">
        {{#if loginErr}}
        <p class="inavlid text-danger">Inavlid data entered</p>
        {{/if}}
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" placeholder="Enter email" name="Email" id="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" placeholder="Enter password" name="Password" id="pwd">
            </div>
            <div class="form-group float-right">
                <a class="ml-5" href="admin/signup">Create a new account?</a>
            </div>
            </label>
    </div>
    <div class="foorm-group text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>

</div>
</div>